import "types.if"
package base {
    package system {
        interface socket {
            types.int id;
            types.int port;
        }
    }
    interface inout_sockets {
        -> system.socket s1;
        -> base.system.socket s2;
        types.float speed;
    }
}
