language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
    - "3.7"
    - "3.8"

before_install:
    # Installing Arpeggio as a dependency
    - cd ..
    - git clone --depth=1 --branch=master git://github.com/textX/Arpeggio.git
    - cd Arpeggio && python setup.py install
    - cd ../textX

install:
    - ./install-test.sh

script:
    - ./runtests.sh

after_success:
    - coveralls
