package types {
    type int {}
    type float {}
    type uint32_t {}
    type uint16_t {}
}
package base {
    package system {
        interface socket {
            types.int id;
            types.int port;
        }
    }
    interface inout_sockets {
        -> system.socket s1;
        -> base.system.socket s2;
        types.float speed;
    }
}
package app {
    interface app1 {
        -> base.inout_sockets s;
        types.int userid;
    }
}
