div.col-md-9 img[alt="textX logo"] { background-color: transparent; border: none; }
.rst-content .section ul li p:last-child { margin-bottom: 12px; }
code { font-family: 'Source Code Pro', monospace; }
